@charset "UTF-8";
nav {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  border-bottom: 1px solid #ededed;
  font-family: "Open Sans", sans-serif;
}
nav .container-padding {
  padding-left: 30px;
  padding-right: 30px;
}
nav .nav-item {
  padding-left: 30px;
  padding-right: 30px;
}
nav .nav-item .nav-link {
  font-size: 13px !important;
}
nav .nav-item .nav-link .flag-image {
  width: 20px;
  margin-right: 10px;
}
nav .nav-item .nav-link .user {
  margin-right: 10px;
}
nav .nav-item .nav-link:hover {
  transition: 1s;
  color: #ef1e1e !important;
}
nav .nav-item input {
  padding-left: 50px;
}
nav .nav-item input:focus {
  color: rgba(207, 203, 203, 0.9803921569);
  outline: transparent !important;
}
nav .border-right::after {
  content: "";
  position: absolute;
  height: 12px;
  top: 50%;
  transform: translate(0, -50%);
  border-right: solid 1px #d2d2d2;
  left: 157px;
}
nav .border-right-2::after {
  content: "";
  position: absolute;
  height: 12px;
  top: 50%;
  transform: translate(0, -50%);
  border-right: solid 1px #d2d2d2;
  left: 110px;
}
nav .logo {
  width: 140px;
}
nav input {
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #ebebeb;
  background-color: #fafafa;
}
nav input::-moz-placeholder {
  padding-left: 0px;
  color: rgba(207, 203, 203, 0.9803921569);
}
nav input:-ms-input-placeholder {
  padding-left: 0px;
  color: rgba(207, 203, 203, 0.9803921569);
}
nav input::placeholder {
  padding-left: 0px;
  color: rgba(207, 203, 203, 0.9803921569);
}
nav .position {
  left: 45px;
  top: 16px;
}
nav .position:hover {
  color: #ef1e1e !important;
}
nav .shuffle {
  font-size: 24px;
}
nav .badge {
  border-radius: 50%;
  color: #ffffff;
  background-color: #ef1e1e;
  border-color: #ef1e1e;
  top: 54px;
  right: 46px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  nav .nav-item {
    padding-left: 5px !important;
    padding-right: 15px !important;
  }
  nav .logo {
    width: 125px !important;
  }
  nav .badge {
    top: 70px;
    right: 42px;
  }
  nav .position {
    left: 30px;
    top: 16px;
  }
  nav .dropdown-toggle::after {
    border: none !important;
    content: "\f107" !important;
    font-weight: 900;
    position: absolute;
    font-size: 12px !important;
    font-family: "Font Awesome 5 Free";
    right: -2px !important;
    top: 10px;
  }
  nav .image-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }
  nav .border-right::after {
    content: "";
    position: absolute;
    height: 12px;
    top: 50%;
    transform: translate(0, -50%);
    border-right: transparent !important;
  }
  nav .border-right-2::after {
    content: "";
    position: absolute;
    height: 12px;
    top: 50%;
    transform: translate(0, -50%);
    border-right: transparent !important;
  }
}
@media (max-width: 480px) {
  nav .logo {
    width: 125px !important;
  }
  nav .badge {
    top: 89%;
    right: 46%;
  }
  nav .position {
    left: 56px;
    top: 40px;
  }
  nav .dropdown-toggle::after {
    border: none !important;
    content: "\f107" !important;
    font-weight: 900;
    position: absolute;
    font-size: 12px !important;
    font-family: "Font Awesome 5 Free";
    right: -2px !important;
    top: 10px;
  }
  nav .image-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }
  nav input {
    margin-bottom: 25px !important;
    margin-top: 25px !important;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  nav .logo {
    width: 80px !important;
  }
  nav .shuffle {
    font-size: 16px !important;
  }
  nav .nav-item {
    padding-right: 5px !important;
  }
  nav .nav-link {
    font-size: 10px !important;
  }
  nav .badge {
    top: 48%;
    right: 3%;
  }
  nav .position {
    left: 34px;
    top: 40px;
  }
  nav .dropdown-toggle::after {
    border: none !important;
    content: "\f107" !important;
    font-weight: 900;
    position: absolute;
    font-size: 12px !important;
    font-family: "Font Awesome 5 Free";
    right: -2px !important;
    top: 10px;
  }
  nav .image-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }
  nav input {
    margin-bottom: 25px !important;
    margin-top: 25px !important;
  }
}

.dropdown-toggle::after {
  border: none !important;
  content: "\f107" !important;
  font-weight: 900;
  position: absolute;
  font-size: 15px;
  font-family: "Font Awesome 5 Free";
  right: 20px;
}

.custom-nav-2 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-bottom: none !important;
  font-size: 14px;
  font-weight: 600 !important;
}
.custom-nav-2 .nav-item .nav-link {
  border-bottom: 3px solid transparent;
  font-size: 14px !important;
}
.custom-nav-2 .nav-item .nav-link:hover {
  border-bottom: 3px solid #ef1e1e;
}
.custom-nav-2 .shop-dropdownmenu .dropdown-menu-1 {
  border: none !important;
  display: none;
}
.custom-nav-2 .shop-dropdownmenu:hover .dropdown-menu-1 {
  transition: transform 1s;
  display: block;
}
.custom-nav-2 .dropdown-menu-1 {
  padding: 10px;
  width: 900px;
}
.custom-nav-2 .heading {
  font-size: 14px;
  font-weight: 700;
}
.custom-nav-2 .dropdown-item {
  line-height: 40px;
}
.custom-nav-2 .dropdown-item:hover {
  color: #ef1e1e;
  background-color: transparent !important;
}
.custom-nav-2 .dropdown-item:hover:before {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-weight: 900;
  font-size: 14px;
  margin-right: 10px;
}
.custom-nav-2 .dropdown-item:focus {
  color: #ef1e1e;
  background-color: transparent !important;
}
.custom-nav-2 .log-dropdown .dropdown-menu-2 {
  display: none;
  border: 1px solid #ebebeb;
  width: 230px !important;
}
.custom-nav-2 .log-dropdown:hover .dropdown-menu-2 {
  display: block;
}

@media (max-width: 1024px) {
  .dropdown-menu-1 {
    display: none !important;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .navbar {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}
.mobile-nav .btn {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 10px;
  background-color: #e3e3e3 !important;
  border-color: #b9b7b7 !important;
  box-shadow: none !important;
}
.mobile-nav .navbar-nav {
  flex-direction: row !important;
}
.mobile-nav .navbar-nav .nav-link {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 10px;
}
.mobile-nav .navbar-nav .shuffle {
  font-size: 18px;
}
@media (max-width: 576px) {
  .mobile-nav .dropdown-toggle::after {
    border: none !important;
    content: "\f107" !important;
    font-weight: 900;
    position: relative;
    font-size: 10px;
    font-family: "Font Awesome 5 Free";
    right: -8px;
    top: 3px;
  }
}
.mobile-nav .logo {
  left: 10px;
  top: 29px;
  height: 24px;
  z-index: 1;
}
.mobile-nav .mobile-input {
  border-radius: 30px;
  border: 1px solid #ebebeb;
  background-color: #fafafa;
}
.mobile-nav .mobile-input::-moz-placeholder {
  font-size: 12px;
  font-weight: 500;
  padding-left: 60px;
}
.mobile-nav .mobile-input:-ms-input-placeholder {
  font-size: 12px;
  font-weight: 500;
  padding-left: 60px;
}
.mobile-nav .mobile-input::placeholder {
  font-size: 12px;
  font-weight: 500;
  padding-left: 60px;
}
.mobile-nav .position-m {
  left: 25%;
  top: 45%;
  font-size: 14px;
}
.mobile-nav .badge {
  border-radius: 50%;
  color: #ffffff;
  background-color: #ef1e1e;
  border-color: #ef1e1e;
  top: 50%;
  right: 40%;
}
.mobile-nav .offcanvas {
  width: 287px !important;
}
.mobile-nav .navbar2 {
  flex-direction: column !important;
  text-align: center;
}

.hero-section {
  overflow: hidden;
}
.hero-section .slick-1 {
  background-image: url("../images/slider1-store1-1920x800.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-section .slick-2 {
  background-image: url("../images/slider2-store1-1920x800.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-section .slick-1-text {
  padding-top: 230px;
  padding-bottom: 230px;
  padding-left: 60px;
}
.hero-section .slick-1-text .caption1 {
  font-size: 48px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0;
  line-height: 1;
  color: #253237;
}
.hero-section .slick-1-text .caption2 {
  color: #253237;
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}
.hero-section .slick-1-text .caption3 {
  font-size: 18px;
  color: #5c5e5f;
  margin-bottom: 45px;
  font-weight: 400;
  line-height: 1.4;
}
.hero-section .slick-1-text .button {
  margin-bottom: 20px;
}
.hero-section .slick-1-text .shopnow {
  text-decoration: none;
  background-color: #ef1e1e;
  color: white;
  border-radius: 30px;
  font-size: 18px;
}
.hero-section .slick-1-text .shopnow:hover {
  background-color: #5c5e5f !important;
  transition: 1s;
}
.hero-section .slick-dots {
  position: absolute;
  bottom: 50px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.hero-section .slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #ef1e1e;
}
.hero-section .slick-dots li button:before {
  font-family: slick;
  font-size: 24px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: #000;
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 576px) {
  .hero-section .caption1 {
    font-size: 20px !important;
  }
  .hero-section .container-padding {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .hero-section .caption2 {
    color: #253237;
    font-size: 22px !important;
  }
  .hero-section .caption3 {
    font-size: 10px !important;
    color: #5c5e5f;
    margin-bottom: 12px !important;
    font-weight: 400;
    line-height: 1.4;
  }
  .hero-section .slick-1-text {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    padding-left: 10px !important;
  }
  .hero-section .shopnow {
    text-decoration: none;
    background-color: #ef1e1e;
    color: white;
    border-radius: 30px;
    font-size: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.promo {
  font-family: "Open Sans", sans-serif;
  background-color: white;
}
.promo .card {
  overflow: hidden;
}
.promo .card .banner {
  transition: transform 1s;
}
.promo .card .content {
  top: 30%;
  left: 10%;
}
.promo .card .content .sub-title {
  display: block;
  font-size: 22px;
  font-weight: 300;
  font-style: italic;
  color: #253237;
  line-height: 1;
  margin-bottom: 11px;
}
.promo .card .content .main-title {
  display: block;
  font-size: 26px;
  font-weight: 700;
  color: #253237;
  line-height: 1;
  margin-bottom: 45px;
}
.promo .card:hover .banner {
  transform: scale(1.1);
}
.promo .card .more-icon {
  font-size: 14px;
  font-weight: 700;
}
.promo .card .more-icon::after {
  content: "\f144";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  margin-left: 8px;
  color: #ef1e1e;
  font-size: 15px;
}
@media (max-width: 480px) {
  .promo .content {
    top: 17% !important;
    left: 6% !important;
  }
  .promo .content .sub-title {
    display: block;
    font-size: 18px !important;
    font-weight: 300;
    font-style: italic;
    color: #253237;
    line-height: 1;
    margin-bottom: 5px !important;
  }
  .promo .content .main-title {
    display: block;
    font-size: 20px !important;
    font-weight: 700;
    color: #253237;
    line-height: 1;
    margin-bottom: 18px !important;
  }
  .promo .more-icon {
    font-size: 12px !important;
    font-weight: 700 !important;
  }
  .promo .container-padding {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .promo .content {
    top: 17% !important;
    left: 6% !important;
  }
  .promo .content .sub-title {
    display: block;
    font-size: 16px !important;
    font-weight: 300;
    font-style: italic;
    color: #253237;
    line-height: 1;
    margin-bottom: 5px !important;
  }
  .promo .content .main-title {
    display: block;
    font-size: 20px !important;
    font-weight: 700;
    color: #253237;
    line-height: 1;
    margin-bottom: 18px !important;
  }
  .promo .more-icon {
    font-size: 12px !important;
    font-weight: 700 !important;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .promo .content {
    top: 17% !important;
    left: 6% !important;
  }
  .promo .content .sub-title {
    display: block;
    font-size: 16px !important;
    font-weight: 300;
    font-style: italic;
    color: #253237;
    line-height: 1;
    margin-bottom: 5px !important;
  }
  .promo .content .main-title {
    display: block;
    font-size: 20px !important;
    font-weight: 700;
    color: #253237;
    line-height: 1;
    margin-bottom: 40px !important;
  }
  .promo .more-icon {
    font-size: 12px !important;
    font-weight: 700 !important;
  }
}

.popular {
  font-family: "Open Sans", sans-serif;
}
.popular .title-block {
  font-size: 24px;
  font-weight: 600;
  color: #253237;
  margin-bottom: 6px;
}
.popular .note {
  font-size: 14px;
  padding-bottom: 20px;
  font-weight: 400;
}
.popular .line {
  width: 70px;
  border-bottom: 3px solid #ef1e1e;
  margin-bottom: 50px;
}
.popular .main-card .card {
  overflow: hidden;
}
.popular .main-card .card .stool {
  transition: transform 1s;
}
.popular .main-card .category-detail {
  margin-top: 20px;
}
.popular .main-card .category-detail .category-name {
  font-size: 18px !important;
  color: #253237;
  margin-bottom: 13px;
  font-weight: 600;
}
.popular .main-card .category-detail .category-item-amount {
  font-size: 14px;
  color: #888;
  font-weight: 400;
  margin-bottom: 13px;
}
.popular .main-card:hover img {
  transform: scale(1.1);
}
.popular .main-card .more-icon {
  font-size: 14px;
  font-weight: 700;
}
.popular .main-card .more-icon::after {
  content: "\f144";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  margin-left: 8px;
  color: #ef1e1e;
  font-size: 15px;
}
@media (max-width: 480px) {
  .popular .title-block {
    font-size: 26px;
  }
  .popular .note {
    font-size: 11px;
  }
  .popular .category-detail {
    margin-top: 5px !important;
  }
}
@media (max-width: 768px) {
  .popular .container-padding {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

@media (max-width: 480px) {
  .popular {
    padding-bottom: 1rem !important;
  }
}
.black-sale {
  font-family: "Open Sans", sans-serif;
}
.black-sale .card {
  overflow: hidden;
}
.black-sale .card .banner-4 {
  transition: transform 2s;
}
.black-sale .card .sub-title {
  display: block;
  font-size: 32px;
  font-weight: 300;
  font-style: italic;
  color: #253237;
  line-height: 32px;
  margin-bottom: 6px;
}
.black-sale .card .main-title {
  display: block;
  font-size: 32px;
  font-weight: 700;
  color: #253237;
  line-height: 1;
}
.black-sale .card .main-title .sale-off {
  color: #ef1e1e;
}
.black-sale .card .pharse-1 {
  font-size: 16px;
  font-weight: 400;
  color: #253237;
}
.black-sale .card .content-2 {
  top: 20%;
  left: 5%;
}
.black-sale .card:hover .banner-4 {
  transform: scale(1.1);
}

@media (max-width: 480px) {
  .sub-title {
    display: block;
    font-size: 14px !important;
    font-weight: 300;
    font-style: italic;
    color: #253237;
    line-height: 1;
    margin-bottom: 0px !important;
  }
  .main-title {
    font-size: 16px !important;
  }
  .main-title .sale-off {
    color: #ef1e1e;
  }
  .pharse-1 {
    font-size: 10px !important;
  }
  .black-sale {
    padding-top: 0px !important;
    padding-bottom: 40px !important;
  }
  .banner-4 {
    height: 100px !important;
  }
  .container-padding {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .content-2 {
    top: 7% !important;
    left: 5% !important;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .sub-title {
    display: block;
    font-size: 14px !important;
    font-weight: 300;
    font-style: italic;
    color: #253237;
    line-height: 1;
    margin-bottom: 0px !important;
  }
  .main-title {
    font-size: 16px !important;
  }
  .main-title .sale-off {
    color: #ef1e1e;
  }
  .pharse-1 {
    font-size: 10px !important;
  }
  .black-sale {
    padding-top: 0px !important;
    padding-bottom: 3rem !important;
  }
  .banner-4 {
    height: 100px !important;
  }
  .container-padding {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .content-2 {
    top: 7% !important;
    left: 5% !important;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .sub-title {
    display: block;
    font-size: 14px !important;
    font-weight: 300;
    font-style: italic;
    color: #253237;
    line-height: 1;
    margin-bottom: 0px !important;
  }
  .content-2 {
    top: 7% !important;
    left: 5% !important;
  }
  .main-title {
    font-size: 16px !important;
  }
  .main-title .sale-off {
    color: #ef1e1e;
  }
  .pharse-1 {
    font-size: 10px !important;
  }
  .black-sale {
    padding-top: 0px !important;
    padding-bottom: 15px !important;
  }
  .banner-4 {
    height: 100px !important;
  }
}
.new-arrival {
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}
.new-arrival .title-block {
  font-size: 24px;
  font-weight: 600;
  color: #253237;
  margin-bottom: 6px;
}
@media (max-width: 480px) {
  .new-arrival .title-block {
    font-size: 1.8rem;
    font-weight: 600;
    color: #253237;
    margin-bottom: 6px;
  }
  .new-arrival .note {
    font-size: 12px;
  }
}
.new-arrival .note {
  font-size: 14px;
  display: block;
  position: relative;
  padding-bottom: 28px;
  font-weight: 400;
}
.new-arrival .line {
  width: 70px;
  border-bottom: 3px solid #ef1e1e;
  margin-bottom: 50px;
}
.new-arrival .card {
  overflow: hidden;
}
.new-arrival .card .image-1 {
  display: block;
  transition: transform 2s;
}
.new-arrival .card .image-2 {
  position: absolute;
  display: none;
  transition: transform 2s;
  top: 0;
}
.new-arrival .card:hover {
  border: 1px solid #ef1e1e;
}
.new-arrival .card:hover .image-2 {
  display: block;
  cursor: pointer;
}
.new-arrival .card .shop {
  color: #999;
  font-size: 12px;
  font-weight: 400;
}
.new-arrival .card .tittle-1 {
  font-size: 15px;
  font-weight: 700;
  color: #000;
}
.new-arrival .card .tittle-1:hover {
  color: #ef1e1e;
}
.new-arrival .card .stars {
  color: #999;
  font-size: 14px;
  font-weight: 400;
}
.new-arrival .card .price {
  color: #999;
  font-size: 15px;
  font-weight: 400;
}
.new-arrival .card .slick-prev:before {
  font-family: slick;
  font-size: 34px;
  line-height: 1;
  opacity: 0.75;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.new-arrival .badge {
  background-color: #ef1e1e;
  color: white;
  /* position: absolute; */
  top: 20px;
  left: 20px;
  z-index: 999;
}
.new-arrival .new-price {
  color: #ef1e1e;
}

.collection {
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}
.collection .card {
  overflow: hidden;
}
.collection .card .banner-5 {
  transition: transform 2s;
}
.collection .card .banner-6 {
  transition: transform 2s;
}
.collection .card .sub-title {
  display: block;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  color: #253237;
  line-height: 1;
}
.collection .card .main-title {
  display: block;
  font-size: 26px;
  font-weight: 700;
  color: #253237;
  line-height: 1;
}
.collection .card .content-4 {
  top: 30%;
  left: 5%;
}
.collection .card:hover .banner-5 {
  transform: scale(1.1);
}
.collection .card:hover .banner-6 {
  transform: scale(1.1);
}
@media (max-width: 480px) {
  .collection .content-4 {
    top: 15% !important;
    left: 6% !important;
  }
}

.deals {
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}
.deals .title-block {
  font-size: 24px;
  font-weight: 600;
  color: #253237;
  margin-bottom: 6px;
}
.deals .note {
  font-size: 14px;
  font-weight: 400;
  display: block;
  position: relative;
  padding-bottom: 28px;
}
.deals .line {
  width: 70px;
  border-bottom: 3px solid #ef1e1e;
  margin-bottom: 50px;
}
.deals .card {
  overflow: hidden;
}
.deals .card .hot-deal-image {
  width: 175px !important;
  overflow: hidden;
}
.deals .card .image-3 {
  display: block;
  transition: transform 2s;
}
.deals .card .image-4 {
  position: absolute;
  width: 180px;
  z-index: 999;
  top: 0;
  display: none;
  transition: transform 2s;
}
.deals .card .card-title {
  font-size: 15px;
  margin-bottom: 3px;
  font-weight: 400;
  color: #999;
}
.deals .card .card-link {
  font-size: 18px;
  font-weight: 700;
  color: #253237;
  display: block;
  line-height: 1.5;
  text-transform: capitalize;
}
.deals .card .card-link:hover {
  color: #ef1e1e !important;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .deals .card .card-link {
    font-size: 19px !important;
  }
  .deals .card .clock {
    font-size: 10px;
  }
  .deals .card .count-down-text {
    font-size: 14px;
  }
  .deals .card .image-4 {
    width: 320px;
  }
}
.deals .card .stars-2 {
  font-size: 14px;
  height: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #d0d0d0 !important;
  margin-top: 10px;
}
.deals .card .old-price {
  color: #d0d0d0 !important;
  font-size: 14px;
}
.deals .card .new-price {
  color: #ef1e1e;
}
.deals .card:hover .image-4 {
  display: block;
}
.deals .card .image-4:hover {
  transform: scale(1.1);
}
.deals .card:hover {
  border: 1px solid #ef1e1e;
}
.deals .card li {
  display: inline-block;
  font-size: 10px;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}
.deals .card li span {
  display: block;
  font-size: 22px;
  font-weight: 700;
}
@media (min-width: 481px) and (max-width: 1024px) {
  .deals .card li {
    display: inline-block;
    font-size: 7px;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  .deals .card li span {
    display: block;
    font-size: 20px;
  }
}
.deals .card .progress {
  height: 10px !important;
}
.deals .card .available-stock {
  font-size: 14px;
}
.deals .card .sold-stock {
  font-size: 14px;
}
.deals .badge {
  background-color: #ef1e1e;
  color: white;
  top: 20px;
  left: 20px;
  z-index: 999999 !important;
}
@media (max-width: 768px) {
  .deals .container-padding {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
.deals .circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  opacity: 0.5;
  border: 2px solid rgb(5, 5, 5);
  display: inline-block;
  text-align: center;
  position: fixed;
  bottom: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  visibility: hidden;
  right: 10px;
  z-index: 1000;
}
@media (max-width: 576.5px) {
  .deals .circle {
    display: none;
  }
}
.deals #button.show {
  opacity: 1;
  visibility: visible;
}
.deals .angle {
  opacity: 1 !important;
  content: "\f106";
  position: relative;
  top: 7px;
  font-size: 18px;
  color: #000 !important;
}
@media (max-width: 480px) {
  .deals .count-down-text {
    font-size: 6px !important;
  }
  .deals .card li {
    font-size: 5px !important;
  }
  .deals .card li span {
    font-size: 18px !important;
  }
}
.deals #timer {
  font-size: 12px;
  font-weight: 700;
  color: black;
}
.deals #timer div {
  display: inline-block;
  min-width: 80px;
}
.deals #timer div span {
  color: rgb(153, 153, 153);
  display: block;
  font-size: 8px;
  font-weight: 400;
}

.sponser {
  overflow: hidden;
}
.sponser .spsnser-images {
  width: 250px;
  padding-left: 20px;
}
@media (max-width: 768px) {
  .sponser .container-padding {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

.feature-post {
  font-family: "Open Sans", sans-serif;
}
.feature-post .card {
  overflow: hidden;
}
.feature-post .card .fe-image-1 {
  display: block;
}
.feature-post .card .fe-image-2 {
  position: absolute;
  top: 0%;
  left: -5px;
  display: none;
  height: 100px;
  width: 100px;
}
.feature-post .card:hover .fe-image-2 {
  display: block;
  padding: 1rem !important;
}
.feature-post .card:hover {
  border: 1px solid #ef1e1e;
}
.feature-post .shop-link {
  color: #999;
  font-size: 12px;
}
.feature-post .product-item-link {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #253237;
}
.feature-post .product-item-link:hover {
  color: #ef1e1e;
}
.feature-post .stars-3 {
  font-size: 14px;
  height: 18px;
  line-height: 18px;
  color: #d0d0d0 !important;
  margin-top: 10px;
}
.feature-post .price {
  font-size: 15px;
  font-weight: 400;
  color: #555555;
}
.feature-post .title-block {
  font-size: 24px;
  font-weight: 600;
  color: #253237;
  margin-bottom: 6px;
}
.feature-post .note {
  font-size: 14px;
  padding-bottom: 20px;
  font-weight: 400;
}
.feature-post .line {
  width: 70px;
  border-bottom: 3px solid #ef1e1e;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .feature-post .container-padding {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
@media (max-width: 480px) {
  .feature-post .title-block {
    font-size: 30px;
  }
  .feature-post .note {
    font-size: 16px;
  }
}

.blog {
  font-family: "Open Sans", sans-serif;
}
.blog .title-block {
  font-size: 24px;
  font-weight: 600;
  color: #253237;
  margin-bottom: 6px;
}
.blog .note {
  font-size: 14px;
  padding-bottom: 20px;
  font-weight: 400;
}
.blog .line {
  width: 70px;
  border-bottom: 3px solid #ef1e1e;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .blog .container-padding {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
.blog .card {
  overflow: hidden;
}
.blog .card .image2 {
  overflow: hidden;
}
.blog .card .blog-image-1 {
  display: block;
  transition: transform 2s;
}
.blog .card:hover .blog-image-1 {
  transform: scale(1.1);
}
.blog .card .badge {
  background-color: #ef1e1e !important;
  color: white;
  top: 20px;
  left: 10px;
  z-index: 999999 !important;
  font-size: 20px;
}
.blog .card .month {
  text-transform: uppercase !important;
  font-weight: 500 !important;
}
.blog .card .post-item-link {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  color: #253237;
  line-height: 1.333;
  text-decoration: none;
}
.blog .card .post-item-link:hover {
  color: #ef1e1e;
}
.blog .card .blog-para {
  color: #555;
  font-size: 14px;
}
.blog .card .more-icon {
  font-size: 14px;
  font-weight: 700;
}
.blog .card .more-icon::after {
  content: "\f144";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  margin-left: 8px;
  color: #ef1e1e;
  font-size: 15px;
}
@media (max-width: 768px) {
  .blog .note {
    font-size: 12px;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .blog .blog-end-padding {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
}

@media (max-width: 576px) {
  .custom-order {
    order: 1 !important;
  }
  .custom-order-2 {
    order: 3 !important;
  }
}
.footer {
  font-family: "Open Sans", sans-serif;
}
.footer .footer-background-color {
  background-color: #F6F6F6;
}
.footer .pharse-text {
  line-height: 22px;
  font-size: 14px;
}
.footer .help {
  font-size: 16px;
  font-weight: 400;
  color: rgb(102, 102, 102);
}
.footer .phone-icone {
  font-size: 24px;
  color: #ef1e1e;
}
.footer .phone-number {
  font-size: 19px;
  font-weight: 700;
}
.footer .icons {
  font-size: 24px;
}
.footer .icons i:hover {
  bottom: 5px;
  cursor: pointer;
  position: relative;
  transition: 1s;
}
@media (max-width: 1024px) {
  .footer .icons {
    padding-left: 0rem !important;
  }
  .footer .padding-left-custom {
    padding-left: 0rem !important;
  }
}
.footer .footer-bg-2 {
  background-color: #EFEFEF;
}
.footer .infoformation {
  font-size: 16px;
  font-weight: 600;
  color: #253237;
  text-transform: capitalize;
  border-bottom: 1px solid #e3e3e3;
  position: relative;
}
.footer .infoformation::after {
  content: "";
  width: 65px;
  height: 2px;
  background: #ef1e1e;
  left: 0;
  bottom: -1px;
  position: absolute;
}
.footer .list {
  list-style-type: none;
  font-size: 14px;
  color: rgb(102, 102, 102) !important;
}
.footer .list li:hover {
  transition: ease-in-out 1s;
  margin-left: 10px;
  color: #ef1e1e !important;
  cursor: pointer;
}
.footer .sign-up {
  font-size: 14px;
}
@media (min-width: 481px) and (max-width: 768px) {
  .footer .infoformation {
    font-size: 10px !important;
  }
  .footer .list {
    font-size: 10px !important;
  }
  .footer .sign-up {
    font-size: 12px !important;
  }
  .footer .form-control {
    padding: 10px !important;
    border: 1px solid #ebebeb !important;
  }
  .footer .form-control::-moz-placeholder {
    font-size: 14px !important;
    border-color: #e9e9e9 !important;
    font-weight: 600 !important;
  }
  .footer .form-control:-ms-input-placeholder {
    font-size: 14px !important;
    border-color: #e9e9e9 !important;
    font-weight: 600 !important;
  }
  .footer .form-control::placeholder {
    font-size: 14px !important;
    border-color: #e9e9e9 !important;
    font-weight: 600 !important;
  }
  .footer .form-control:focus {
    border: 1px solid #ebebeb !important;
  }
  .footer .input-group-text {
    padding: 10px !important;
    border-radius: 50px;
    background-color: #000;
    color: white;
    right: -2px;
    z-index: 1 !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer .infoformation {
    font-size: 10px !important;
  }
  .footer .list {
    font-size: 10px !important;
  }
}
@media (max-width: 1024px) {
  .footer .row-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .footer .footer-logo {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .footer .pharse-text {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .footer .phone-icone {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .footer .phone-number {
    padding-left: 0px !important;
    padding-right: 0px !important;
    font-size: 10px;
  }
  .footer .help {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
.footer .form-control {
  border: 1px solid #ebebeb;
}
.footer .form-control::-moz-placeholder {
  font-size: 18px;
  border-color: #e9e9e9 !important;
}
.footer .form-control:-ms-input-placeholder {
  font-size: 18px;
  border-color: #e9e9e9 !important;
}
.footer .form-control::placeholder {
  font-size: 18px;
  border-color: #e9e9e9 !important;
}
.footer .input-group-text {
  border-radius: 50px;
  background-color: #000;
  color: white;
  right: -2px;
  z-index: 999999 !important;
}
@media (min-width: 1025px) and (max-width: 1304px) {
  .footer .infoformation {
    font-size: 13px !important;
  }
  .footer .help {
    padding-left: 1rem !important;
  }
  .footer .phone-number {
    padding-left: 1rem !important;
    font-size: 13px !important;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .footer input {
    padding: 0.5rem !important;
  }
  .footer input::-moz-placeholder {
    font-size: 14px !important;
  }
  .footer input:-ms-input-placeholder {
    font-size: 14px !important;
  }
  .footer input::placeholder {
    font-size: 14px !important;
  }
  .footer .input-group-text {
    padding: 0.5rem !important;
  }
}

#cover {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  z-index: 9999999;
  font-size: 65px;
  text-align: center;
  padding-top: 300px;
  color: #fff;
  font-family: tahoma;
}

.main-section {
  background-image: url("../images/bkg_breadcrumbs.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
}
.main-section .breadcrumbs {
  padding-top: 105px;
  padding-bottom: 105px;
}
.main-section .breadcrumbs .pagecrumbs-title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #253237;
}
.main-section .breadcrumbs .home {
  font-size: 14px;
  color: rgb(85, 85, 85);
  font-weight: 400;
}
.main-section .breadcrumbs .home:hover {
  transition: 1s;
  color: #ef1e1e;
}
.main-section .breadcrumbs .breadcrumb-item {
  font-size: 14px;
  font-weight: 600;
  color: #ef1e1e;
}
.main-section .breadcrumbs .breadcrumb-item::before {
  float: left;
  padding-right: 1.5rem;
  color: #6c757d;
}

.grid-list {
  margin-top: 90px;
  font-family: "Open Sans", sans-serif;
}
.grid-list .box {
  width: 88%;
  height: 64px;
  background-color: #f6f6f6;
  border-radius: 10px;
}
@media (min-width: 576px) and (max-width: 1024px) {
  .grid-list .buttons {
    padding-left: 5px !important;
  }
}
.grid-list .btn-shop {
  background-color: rgb(239, 30, 30);
  border-radius: 50px;
  color: white;
}
.grid-list .btn-dropdown {
  background-color: white;
  border-radius: 50px;
  border: 2px solid rgb(238, 238, 238);
  font-size: 14px;
  font-weight: 400;
}
.grid-list .dropdown-item:hover {
  background-color: #0a58ca !important;
  color: white !important;
}
.grid-list .dropdown-item:focus {
  background-color: #0a58ca !important;
  color: white !important;
}
.grid-list .buttons .btn-list {
  color: #ef1e1e !important;
}
.grid-list .buttons .btn-grid:hover {
  transition: 1s;
  color: #ef1e1e;
}
@media (max-width: 576px) {
  .grid-list .box {
    width: 100%;
    height: 145px;
  }
  .grid-list .btn-dropdown {
    margin-bottom: 10px;
    font-size: 11px;
  }
  .grid-list .btn-shop {
    margin-top: 10px;
  }
  .grid-list .offcanvas-start {
    width: 250px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .grid-list .btn-dropdown {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    font-size: 10px;
  }
  .grid-list .dropdown-toggle::after {
    font-size: 12px;
    right: 15px;
  }
  .grid-list .box {
    width: 76%;
    height: 57px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .grid-list .box {
    width: 82%;
    height: 57px;
  }
  .grid-list .btn-dropdown {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }
}
@media (min-width: 1025px) and (max-width: 1187.5px) {
  .grid-list .box {
    width: 81%;
    height: 57px;
  }
}
@media (min-width: 1188px) and (max-width: 1366.5px) {
  .grid-list .box {
    width: 83%;
    height: 57px;
  }
}
@media (min-width: 2200px) and (max-width: 2790px) {
  .grid-list .box {
    width: 91%;
  }
}
.grid-list .card {
  position: relative;
  overflow: hidden;
}
.grid-list .card .c-chair1 {
  width: 100%;
}
.grid-list .card .c-chair1 .chair1 {
  display: block;
  width: 843px;
}
.grid-list .card .c-chair2 {
  position: absolute;
  display: none;
  overflow: hidden;
}
.grid-list .card .c-chair2 .box-2 {
  height: 50px;
  background-color: white;
  width: 60%;
  border-radius: 30px;
  position: absolute;
  bottom: 20px;
  left: 70px;
  z-index: 9;
  transition: transform 2s;
}
.grid-list .card .c-chair2 .box-2 .icons {
  font-size: 21px;
}
.grid-list .card .c-chair2 .box-2 .bag:hover {
  transition: 1s;
  color: #ef1e1e;
}
.grid-list .card .c-chair2 .box-2 .heart:hover {
  transition: 1s;
  color: #ef1e1e;
}
.grid-list .card .c-chair2 .box-2 .shuffle:hover {
  transition: 1s;
  color: #ef1e1e;
}
.grid-list .card .c-chair2 .box-2 .magni:hover {
  transition: 1s;
  color: #ef1e1e;
}
@media (max-width: 576px) {
  .grid-list .card .c-chair2 .box-2 {
    width: 85%;
    left: 26px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .grid-list .card .c-chair2 .box-2 {
    width: 85%;
    left: 18px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .grid-list .card .c-chair2 .box-2 {
    width: 85%;
    left: 18px;
  }
}
@media (min-width: 1900px) and (max-width: 2600px) {
  .grid-list .card .c-chair2 .box-2 {
    bottom: 40px;
    left: 130px;
  }
}
.grid-list .card .c-chair2 .chair2 {
  transition: transform 2s;
  width: 843px;
}
.grid-list .card:hover {
  transition: 1s;
  border: 1px solid #ef1e1e;
  cursor: pointer;
}
.grid-list .card:hover .c-chair2 {
  display: block;
}
.grid-list .card:hover .box-2 {
  display: block;
}
.grid-list .card .chair2:hover {
  transform: scale(1.1);
}
.grid-list .card .content .shop {
  font-size: 12px;
  color: #999 !important;
  display: block;
}
.grid-list .card .content .product-item-link {
  text-decoration: none;
  font-weight: 700;
  color: #253237;
  font-size: 14px;
  line-height: 21px;
}
.grid-list .card .content .product-item-link:hover {
  transition: 1s;
  color: #ef1e1e;
}
.grid-list .card .content .star {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(253, 216, 53);
}
.grid-list .card .content .price {
  font-size: 15px;
  font-weight: 400;
}
.grid-list .card .new-price {
  color: #ef1e1e;
  font-weight: 600;
}
.grid-list .card .bg-disscount {
  background-color: #ef1e1e;
  font-weight: 600;
  color: white;
}
.grid-list .card .bg-badge {
  z-index: 1;
  background-color: #ef1e1e;
  top: 20px;
  left: 20px;
}
@media (max-width: 1024px) {
  .grid-list .row-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}
.grid-list .offcanvas-header {
  padding-left: 0px !important;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid rgb(233, 233, 233);
}
.grid-list .offcanvas-header .btn-close {
  position: absolute;
  right: -47px;
  background-color: black !important;
  opacity: 1;
  top: 8px;
  background-image: none !important;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-weight: 900;
  font-size: 19px;
}
.grid-list .offcanvas-header .btn-close::after {
  position: absolute;
  top: 5px;
  right: 12px;
  content: "\f00d";
  color: white;
}
.grid-list .offcanvas-header .offcanvas-title {
  font-size: 18px;
  font-weight: 700;
}
.grid-list .accordion-item {
  border: transparent;
}
.grid-list .accordion-item .accordion-header {
  position: relative !important;
}
.grid-list .accordion-item .accordion-header .accordion-button {
  border-bottom: 1px solid rgb(233, 233, 233);
  border-radius: 0px;
  padding-left: 0px !important;
  font-size: 20px;
  font-weight: 600;
}
.grid-list .accordion-item .accordion-header .accordion-button::after {
  height: 1rem !important;
  width: 1rem !important;
  background-size: 1rem !important;
}
.grid-list .accordion-item .accordion-header::after {
  content: "";
  width: 65px;
  height: 2px;
  background: #ef1e1e;
  left: 0px;
  position: absolute;
}
.grid-list .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: #000;
  background-color: white;
}
.grid-list .accordion-item .form-check {
  font-size: 14px;
  font-weight: 400;
}
.grid-list .accordion-item .form-check:hover {
  transition: 1s;
  color: #ef1e1e !important;
}
.grid-list .accordion-item .form-check .form-check-input {
  border-color: rgb(196, 193, 193);
}
.grid-list .accordion-item .form-check .form-check-input:checked {
  background-color: #ef1e1e;
  border-color: #ef1e1e;
}
.grid-list .accordion-item .colors {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: blue;
}
.grid-list .accordion-item .colors-1 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: brown;
}
.grid-list .accordion-item .colors-2 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: green;
}
.grid-list .accordion-item .colors-3 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(239, 61, 255);
}
.grid-list .accordion-item .colors-4 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
}
.grid-list .accordion-item .colors-5 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(255, 213, 0);
}
.grid-list .accordion-item .btn:hover {
  transition: 1s;
  background-color: #ef1e1e;
  color: white;
}
.grid-list .accordion-item .btn-xs {
  border: 1px solid rgb(218, 218, 218);
}
@media (min-width: 576px) and (max-width: 768px) {
  .grid-list .dropdown-margin {
    margin-left: 0px !important;
  }
}

.mission {
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}
.mission .mission-content {
  margin-bottom: 50px;
}
.mission .mission-content .mission-heading {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}
.mission .mission-content .mission-para {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #666;
}
.mission .vision-content .vision-heading {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}
.mission .vision-content .vision-para {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #666;
}
.mission .about-image {
  width: 100% !important;
}
.mission .custom-border {
  padding-bottom: 100px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
}

@media (max-width: 1024px) {
  .mission {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .mission-para {
    font-size: 14px !important;
    line-height: 20px !important;
  }
  .vision-para {
    font-size: 14px !important;
    line-height: 20px !important;
  }
}
.choose-us {
  font-family: "Open Sans", sans-serif;
}
.choose-us .choose {
  font-size: 24px;
  font-weight: 600;
  color: #000;
}
.choose-us .reason {
  font-size: 14px;
  color: #555;
}
.choose-us .circle {
  height: 175px;
  width: 175px;
  background-color: #17b0c7;
  border-radius: 50%;
  font-size: 60px;
  color: white;
  text-align: center;
}
.choose-us .circle img {
  filter: invert(100%);
}
.choose-us .content-circle {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
@media (min-width: 576px) and (max-width: 768px) {
  .choose-us .custom-justify {
    justify-content: center !important;
  }
  .choose-us .circle {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.choose-us .custom-border {
  padding-bottom: 100px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .choose-us .circle {
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 1024px) {
  .choose-us {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
.map {
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}
.map .store {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  margin-bottom: 10px;
}
.map .locator-para {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
.map .btn-collector {
  border-color: #ef1e1e;
  background-color: #ef1e1e;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 30px;
}
.map .custom-border {
  padding-bottom: 100px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
}

@media (max-width: 1024px) {
  .map {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
.team {
  font-family: "Open Sans", sans-serif;
}
.team .team-content .team-title {
  font-size: 24px;
  font-weight: 600;
}
.team .team-content .team-para {
  font-size: 14px;
  font-weight: 400;
  color: rgb(85, 85, 85);
}
.team .image-content .name {
  font-size: 18px;
  font-weight: 700;
}
.team .image-content .position {
  font-size: 14px;
  font-weight: 400;
  color: rgb(136, 136, 136);
}

@media (max-width: 1024px) {
  .team {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
.contact-map {
  font-family: "Open Sans", sans-serif;
  margin-top: 100px;
  margin-bottom: 450px;
}

.card-top {
  top: 50%;
  position: absolute;
  width: 80%;
}
.card-top .block-title {
  font-size: 18px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
.card-top .form-control {
  border: 1px solid rgb(233, 233, 233);
}
.card-top .bg-image {
  background-image: url("../images/bg-contact.jpg");
}
.card-top .btn-send {
  background-color: #ef1e1e !important;
  color: white !important;
  border-radius: 30px !important;
  text-transform: uppercase !important;
  margin-bottom: 30px;
  margin-top: 30px;
}
.card-top .btn-send:hover {
  transition: 1s;
  background-color: #555555 !important;
}
.card-top .location {
  border: 2px solid white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-top .icon-text {
  font-size: 14px;
  font-weight: 400;
  color: white;
}
.card-top .icon-contact a {
  color: #555555 !important;
  text-decoration: none;
  font-size: 14px;
}
.card-top .icon-contact a:hover {
  transition: 1s;
  color: #ef1e1e !important;
}
.card-top .form-label {
  font-size: 14px;
  font-weight: 400;
  color: rgb(85, 85, 85);
}
@media (max-width: 576px) {
  .card-top .form-control {
    width: 95% !important;
  }
  .card-top .bg-image {
    width: 95% !important;
  }
}

@media (max-width: 576px) {
  .card-top {
    width: 93% !important;
  }
  .padding-start {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .contact-map {
    margin-bottom: 1023px;
  }
}
@media (min-width: 576.5px) and (max-width: 768px) {
  .card-top {
    width: 91% !important;
  }
  .contact-map {
    margin-bottom: 900px;
  }
}
@media (min-width: 768.5px) and (max-width: 1440px) {
  .card-top {
    width: 87% !important;
  }
  .contact-map {
    margin-bottom: 400px;
  }
  .padding-start {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
@media (min-width: 1760px) and (max-width: 2560px) {
  .card-top {
    left: 8%;
  }
}
.blogs {
  font-family: "Open Sans", sans-serif;
}
.blogs .card {
  overflow: hidden;
}
.blogs .card .blog-image {
  overflow: hidden;
  height: 250px;
}
.blogs .card .blog-imagw-1 {
  transition: transform 1s;
}
.blogs .card:hover .blog-imagw-1 {
  transform: scale(1.1);
}
.blogs .card .blogimage-heading {
  margin-top: 30px;
}
.blogs .card .blogimage-heading .heading-link {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: rgb(51, 51, 51) !important;
  text-decoration: none;
}
.blogs .card .blog-para {
  color: #888;
  font-size: 14px;
  line-height: 25px;
}
.blogs .card .readmore {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: rgb(51, 51, 51) !important;
}
.blogs .card .readmore::after {
  content: "\f144";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  margin-left: 8px;
  color: #ef1e1e;
  font-size: 15px;
  margin-left: 20px;
}
.blogs .position-badge {
  left: 20px;
  top: 20px;
}
.blogs .bg-color {
  background-color: #ef1e1e;
  color: white;
}
.blogs .month-date .date {
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid white;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.blogs .month-date .month {
  font-size: 16px;
  font-weight: 600;
}
.blogs .form-control {
  border: 1px solid rgb(233, 233, 233);
  background-color: white;
}
.blogs .form-control::-moz-placeholder {
  font-size: 16px;
  font-weight: 600;
  color: rgb(214, 213, 213);
}
.blogs .form-control:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 600;
  color: rgb(214, 213, 213);
}
.blogs .form-control::placeholder {
  font-size: 16px;
  font-weight: 600;
  color: rgb(214, 213, 213);
}
.blogs .search-position {
  top: 16px;
  font-size: 18px;
  right: 37px;
}
.blogs .cateogry {
  border-bottom: 1PX solid rgb(235, 235, 235);
  position: relative;
}
.blogs .cateogry .cateogry-heading {
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  color: rgb(37, 50, 55);
  padding-bottom: 30px;
}
.blogs .cateogry::after {
  content: "";
  width: 65px;
  height: 2px;
  background: #ef1e1e;
  left: 0;
  bottom: -1px;
  position: absolute;
}
.blogs .cateogty-list {
  margin-top: 20px;
}
.blogs .cateogty-list ul {
  list-style: none;
  padding-left: 0px !important;
}
.blogs .cateogty-list li {
  margin-top: 15px;
  margin-bottom: 15px;
}
.blogs .cateogty-list a {
  text-decoration: none;
  color: rgb(85, 85, 85);
  font-size: 14px;
  font-weight: 400;
}
.blogs .cateogty-list a span {
  color: rgb(85, 85, 85);
}
.blogs .cateogty-list a:hover {
  transition: 1s;
  color: #ef1e1e !important;
}
@media (max-width: 1024px) {
  .blogs .blog-image {
    height: 180px !important;
  }
  .blogs .heading-link {
    font-size: 18px;
  }
  .blogs .month-date {
    padding: 5px !important;
  }
}
@media (min-width: 1760px) and (max-width: 2560px) {
  .blogs .blog-image {
    height: 450px !important;
  }
}
.blogs .post-list .post-image-1 {
  width: 150px;
  display: block;
}
.blogs .post-list .post-image-content h3 {
  font-size: 14px;
  font-weight: 400;
}
.blogs .post-list .post-image-content a {
  color: #333;
  text-decoration: none;
}
.blogs .post-list .post-image-content a:hover {
  transition: 1s;
  color: #ef1e1e !important;
}
.blogs .post-list .publish-date {
  color: #aaa;
  font-size: 14px;
  font-weight: 400;
}
@media (min-width: 576px) and (max-width: 768.5px) {
  .blogs .post-list h3 {
    font-size: 8px !important;
  }
  .blogs .post-list .publish-date {
    font-size: 8px !important;
  }
}
.blogs .tags-list .btn-trending {
  color: #555555;
  border: 1px solid #ebebeb;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 400;
}
.blogs .tags-list .btn-trending:hover {
  transition: 1s;
  background-color: #ef1e1e;
  color: white;
}
@media (min-width: 576px) and (max-width: 1024.5px) {
  .blogs .tags-list .btn-trending {
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=index.css.map */