nav {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    border-bottom: 1px solid #ededed;
    font-family: 'Open Sans', sans-serif;

    .container-padding {
        padding-left: 30px;
        padding-right: 30px;
    }

    .nav-item {
        padding-left: 30px;
        padding-right: 30px;

        .nav-link {
            font-size: 13px !important;

            .flag-image {
                width: 20px;
                margin-right: 10px;
            }

            .user {
                margin-right: 10px;
            }

            &:hover {
                transition: 1s;
                color: #ef1e1e !important;
            }
        }
        input{
            padding-left: 50px;
            &:focus{
                color: #cfcbcbfa;
                outline: transparent !important;
            }
        }

    }

    .border-right {
        &::after {
            content: "";
            position: absolute;
            height: 12px;
            top: 50%;
            transform: translate(0, -50%);
            border-right: solid 1px #d2d2d2;
            left: 157px;
        }
    }


    .border-right-2 {
        &::after {
            content: "";
            position: absolute;
            height: 12px;
            top: 50%;
            transform: translate(0, -50%);
            border-right: solid 1px #d2d2d2;
            left: 110px;
        }
    }





    .logo {
        width: 140px;
    }

    input {
        padding: 10px;
        border-radius: 30px;
        border: 1px solid #ebebeb;
        background-color: #fafafa;

        &::placeholder {
            padding-left: 0px;
            color: #cfcbcbfa;
        }
    }

    .position {
        left: 45px;
        top: 16px;

        &:hover {
            color: #ef1e1e !important;
        }
    }

    .shuffle {
        font-size: 24px;
    }

    .badge {
        border-radius: 50%;
        color: #ffffff;
        background-color: #ef1e1e;
        border-color: #ef1e1e;
        top: 54px;
        right: 46px;
    }

    @media (min-width:768px) and (max-width:1024px) {
        .nav-item {
            padding-left: 5px !important;
            padding-right: 15px !important;
        }

        .logo {
            width: 125px !important;
        }

        .badge {
            top: 70px;
            right: 42px;
        }

        .position {
            left: 30px;
            top: 16px;
        }

        .dropdown-toggle {
            &::after {
                border: none !important;
                content: "\f107" !important;
                font-weight: 900;
                position: absolute;
                font-size: 12px !important;
                font-family: "Font Awesome 5 Free";
                right: -2px !important;
                top: 10px;
            }
        }

        .image-center {
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            margin-top: 25px !important;
            margin-bottom: 25px !important;
        }

        .border-right {
            &::after {
                content: "";
                position: absolute;
                height: 12px;
                top: 50%;
                transform: translate(0, -50%);
                border-right: transparent !important;
                // left: 157px;
            }
        }

        // .border-right{
        //     border-right: transparent !important;
        // }
        .border-right-2 {
            &::after {
                content: "";
                position: absolute;
                height: 12px;
                top: 50%;
                transform: translate(0, -50%);
                border-right: transparent !important;
                // left: 157px;
            }
        }
    }

    @media (max-width:480px) {
        .logo {
            width: 125px !important;
        }

        .badge {
            top: 89%;
            right: 46%;
        }

        .position {
            left: 56px;
            top: 40px;
        }

        .dropdown-toggle {
            &::after {
                border: none !important;
                content: "\f107" !important;
                font-weight: 900;
                position: absolute;
                font-size: 12px !important;
                font-family: "Font Awesome 5 Free";
                right: -2px !important;
                top: 10px;
            }
        }

        .image-center {
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            margin-top: 25px !important;
            margin-bottom: 25px !important;
        }

        input {
            margin-bottom: 25px !important;
            margin-top: 25px !important;
        }
    }

    @media (min-width:480px) and (max-width:768px) {
        .logo {
            width: 80px !important;
        }

        .shuffle {
            font-size: 16px !important;
        }

        .nav-item {
            padding-right: 5px !important;
        }

        .nav-link {
            font-size: 10px !important;
        }

        .badge {
            top: 48%;
            right: 3%;
        }

        .position {
            left: 34px;
            top: 40px;
        }

        .dropdown-toggle {
            &::after {
                border: none !important;
                content: "\f107" !important;
                font-weight: 900;
                position: absolute;
                font-size: 12px !important;
                font-family: "Font Awesome 5 Free";
                right: -2px !important;
                top: 10px;
            }
        }

        .image-center {
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            margin-top: 25px !important;
            margin-bottom: 25px !important;
        }

        input {
            margin-bottom: 25px !important;
            margin-top: 25px !important;
        }
    }

}



.dropdown-toggle {
    &::after {
        border: none !important;
        content: "\f107" !important;
        font-weight: 900;
        position: absolute;
        font-size: 15px;
        font-family: "Font Awesome 5 Free";
        right: 20px;
    }

}


.custom-nav-2 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-bottom: none !important;
    font-size: 14px;
    font-weight: 600 !important;

    .nav-item {
        .nav-link {
            border-bottom: 3px solid transparent;
            font-size: 14px !important;

            &:hover {
                border-bottom: 3px solid #ef1e1e;
            }
        }
    }

    .shop-dropdownmenu {
        .dropdown-menu-1 {
            border: none !important;
            display: none;
        }

        &:hover .dropdown-menu-1 {
            transition: transform 1s;
            display: block;
        }
    }

    .dropdown-menu-1 {
        padding: 10px;
        width: 900px;
    }

    .heading {
        font-size: 14px;
        font-weight: 700;
    }

    .dropdown-item {
        line-height: 40px;

        &:hover {
            color: #ef1e1e;
            background-color: transparent !important;

            &:before {
                content: '\f105';
                font-family: "Font Awesome 5 Free";
                display: inline-block;
                font-weight: 900;
                font-size: 14px;
                margin-right: 10px;
            }
        }

        &:focus {
            color: #ef1e1e;
            background-color: transparent !important;
        }
    }

    .log-dropdown {
        .dropdown-menu-2 {
            display: none;
            border: 1px solid #ebebeb;
            width: 230px !important;
        }

        &:hover .dropdown-menu-2 {
            display: block;
        }
    }
}

@media (max-width:1024px) {
    .dropdown-menu-1 {
        display: none !important;
    }
}

@media (min-width:480px) and (max-width:768px) {
    .navbar {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
}

.mobile-nav {

    .btn {
        position: absolute;
        z-index: 1;
        top: 20px;
        right: 10px;
        background-color: #e3e3e3 !important;
        border-color: #b9b7b7 !important;
        box-shadow: none !important;
    }

    .navbar-nav {
        flex-direction: row !important;


        .nav-link {
            padding-left: 15px;
            padding-right: 15px;
            font-size: 10px;

        }

        .shuffle {
            font-size: 18px;
        }
        // input{
        //     &:focus{
        //         outline: 1px solid #ebebeb;
        //     }
        // }
    }

    @media (max-width:576px) {
        .dropdown-toggle {
            &::after {
                border: none !important;
                content: "\f107" !important;
                font-weight: 900;
                position: relative;
                font-size: 10px;
                font-family: "Font Awesome 5 Free";
                right: -8px;
                top: 3px;
            }
        }
    }

    .logo {
        left: 10px;
        top: 29px;
        height: 24px;
        z-index: 1;
    }

    .mobile-input {
        border-radius: 30px;
        border: 1px solid #ebebeb;
        background-color: #fafafa;

        &::placeholder {
            font-size: 12px;
            font-weight: 500;
            padding-left: 60px;
        }
    }

    .position-m {
        left: 25%;
        top: 45%;
        font-size: 14px;
    }

    .badge {
        border-radius: 50%;
        color: #ffffff;
        background-color: #ef1e1e;
        border-color: #ef1e1e;
        top: 50%;
        right: 40%;
    }

    .offcanvas {
        width: 287px !important;
    }

    .navbar2 {
        flex-direction: column !important;
        text-align: center;
    }
}

.hero-section {
    overflow: hidden;

    .slick-1 {
        background-image: url('../images/slider1-store1-1920x800.jpg');
        // background-color: ;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .slick-2 {
        background-image: url('../images/slider2-store1-1920x800.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .slick-1-text {
        padding-top: 230px;
        padding-bottom: 230px;
        padding-left: 60px;

        .caption1 {
            font-size: 48px;
            font-weight: 300;
            font-family: 'Open Sans', sans-serif;
            margin-bottom: 0;
            line-height: 1;
            color: #253237;
        }

        .caption2 {
            color: #253237;
            font-size: 48px;
            line-height: 1;
            font-weight: 700;
            font-family: 'Open Sans', sans-serif;
            margin-bottom: 20px;
        }

        .caption3 {
            font-size: 18px;
            color: #5c5e5f;
            margin-bottom: 45px;
            font-weight: 400;
            line-height: 1.4;

        }

        .button {
            margin-bottom: 20px;
        }

        .shopnow {
            text-decoration: none;
            background-color: #ef1e1e;
            color: white;
            // padding: 10px;
            border-radius: 30px;
            font-size: 18px;

            &:hover {
                background-color: #5c5e5f !important;
                transition: 1s;
            }
        }
    }

    .slick-dots {
        position: absolute;
        bottom: 50px;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
    }

    .slick-dots li.slick-active button:before {
        opacity: .75;
        color: #ef1e1e;
    }

    .slick-dots li button:before {
        font-family: slick;
        font-size: 24px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: '•';
        text-align: center;
        opacity: .25;
        color: #000;
        -webkit-font-smoothing: antialiased;
    }

    @media (max-width:576px) {
        .caption1 {
            font-size: 20px !important;
        }

        .container-padding {
            padding-left: 1rem !important;
            padding-right: 1rem !important;
        }

        .caption2 {
            color: #253237;
            font-size: 22px !important;
        }

        .caption3 {
            font-size: 10px !important;
            color: #5c5e5f;
            margin-bottom: 12px !important;
            font-weight: 400;
            line-height: 1.4;

        }

        .slick-1-text {
            padding-top: 100px !important;
            padding-bottom: 100px !important;
            padding-left: 10px !important;
        }

        .shopnow {
            text-decoration: none;
            background-color: #ef1e1e;
            color: white;
            // padding: 10px;
            border-radius: 30px;
            font-size: 10px !important;
            padding-top: 5px !important;
            padding-bottom: 5px !important;
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
    }
}

.promo {
    font-family: 'Open Sans', sans-serif;
    background-color: white;

    .card {
        overflow: hidden;

        .banner {
            transition: transform 1s;
        }

        .content {
            top: 30%;
            left: 10%;

            .sub-title {
                display: block;
                font-size: 22px;
                font-weight: 300;
                font-style: italic;
                color: #253237;
                line-height: 1;
                margin-bottom: 11px;
            }

            .main-title {
                display: block;
                font-size: 26px;
                font-weight: 700;
                color: #253237;
                line-height: 1;
                margin-bottom: 45px;
            }
        }

        &:hover .banner {
            transform: scale(1.1);
        }

        .more-icon {
            font-size: 14px;
            font-weight: 700;

            &::after {
                content: '\f144';
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                font-family: "Font Awesome 5 Free";
                font-weight: 700;
                // vertical-align: middle;
                margin-left: 8px;
                color: #ef1e1e;
                font-size: 15px;
            }
        }


    }

    @media (max-width:480px) {
        .content {
            top: 17% !important;
            left: 6% !important;

            .sub-title {
                display: block;
                font-size: 18px !important;
                font-weight: 300;
                font-style: italic;
                color: #253237;
                line-height: 1;
                margin-bottom: 5px !important;
            }

            .main-title {
                display: block;
                font-size: 20px !important;
                font-weight: 700;
                color: #253237;
                line-height: 1;
                margin-bottom: 18px !important;
            }
        }

        .more-icon {
            font-size: 12px !important;
            font-weight: 700 !important;
        }

        .container-padding {
            padding-left: 1rem !important;
            padding-right: 1rem !important;
        }
    }


    @media (min-width:481px) and (max-width:768px) {
        .content {
            top: 17% !important;
            left: 6% !important;

            .sub-title {
                display: block;
                font-size: 16px !important;
                font-weight: 300;
                font-style: italic;
                color: #253237;
                line-height: 1;
                margin-bottom: 5px !important;
            }

            .main-title {
                display: block;
                font-size: 20px !important;
                font-weight: 700;
                color: #253237;
                line-height: 1;
                margin-bottom: 18px !important;
            }
        }

        .more-icon {
            font-size: 12px !important;
            font-weight: 700 !important;
        }
    }

    @media (min-width:769px) and (max-width:1024px) {
        .content {
            top: 17% !important;
            left: 6% !important;

            .sub-title {
                display: block;
                font-size: 16px !important;
                font-weight: 300;
                font-style: italic;
                color: #253237;
                line-height: 1;
                margin-bottom: 5px !important;
            }

            .main-title {
                display: block;
                font-size: 20px !important;
                font-weight: 700;
                color: #253237;
                line-height: 1;
                margin-bottom: 40px !important;
            }
        }

        .more-icon {
            font-size: 12px !important;
            font-weight: 700 !important;
        }

    }

}


.popular {
    font-family: 'Open Sans', sans-serif;

    .title-block {
        font-size: 24px;
        font-weight: 600;
        color: #253237;
        margin-bottom: 6px;
    }

    .note {
        font-size: 14px;
        padding-bottom: 20px;
        // margin-bottom: 30px;
        font-weight: 400;
    }

    .line {
        width: 70px;
        border-bottom: 3px solid #ef1e1e;
        margin-bottom: 50px;
    }

    .main-card {
        .card {
            overflow: hidden;

            .stool {
                transition: transform 1s;
            }
        }

        .category-detail {
            margin-top: 20px;

            .category-name {
                font-size: 18px !important;
                color: #253237;
                margin-bottom: 13px;
                font-weight: 600;
            }

            .category-item-amount {
                font-size: 14px;
                color: #888;
                font-weight: 400;
                margin-bottom: 13px;
            }
        }

        &:hover img {
            transform: scale(1.1);
        }

        .more-icon {
            font-size: 14px;
            font-weight: 700;

            &::after {
                content: '\f144';
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                font-family: "Font Awesome 5 Free";
                font-weight: 700;
                // vertical-align: middle;
                margin-left: 8px;
                color: #ef1e1e;
                font-size: 15px;
            }
        }
    }

    @media (max-width:480px) {
        .title-block {
            font-size: 26px;
        }

        .note {
            font-size: 11px;
        }

        .category-detail {
            margin-top: 5px !important;
        }

    }

    @media (max-width:768px) {
        .container-padding {
            padding-left: 1rem !important;
            padding-right: 1rem !important;
        }
    }
}

@media (max-width:480px) {
    .popular {
        padding-bottom: 1rem !important;
    }
}










.black-sale {
    font-family: 'Open Sans', sans-serif;

    .card {
        overflow: hidden;

        .banner-4 {
            transition: transform 2s;
        }

        .sub-title {
            display: block;
            font-size: 32px;
            font-weight: 300;
            font-style: italic;
            color: #253237;
            line-height: 32px;
            margin-bottom: 6px;
        }

        .main-title {
            display: block;
            font-size: 32px;
            font-weight: 700;
            color: #253237;
            line-height: 1;

            .sale-off {
                color: #ef1e1e;
            }
        }

        .pharse-1 {
            font-size: 16px;
            font-weight: 400;
            color: #253237;
        }

        .content-2 {
            top: 20%;
            left: 5%;
        }

        &:hover .banner-4 {
            transform: scale(1.1);
        }
    }

}

@media (max-width:480px) {
    .sub-title {
        display: block;
        font-size: 14px !important;
        font-weight: 300;
        font-style: italic;
        color: #253237;
        line-height: 1;
        margin-bottom: 0px !important;
    }

    .main-title {
        font-size: 16px !important;

        .sale-off {
            color: #ef1e1e;
        }
    }

    .pharse-1 {
        font-size: 10px !important;
    }

    .black-sale {
        padding-top: 0px !important;
        padding-bottom: 40px !important;
    }

    .banner-4 {
        height: 100px !important;
    }

    .container-padding {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .content-2 {
        top: 7% !important;
        left: 5% !important;
    }
}

@media (min-width:481px) and (max-width:768px) {
    .sub-title {
        display: block;
        font-size: 14px !important;
        font-weight: 300;
        font-style: italic;
        color: #253237;
        line-height: 1;
        margin-bottom: 0px !important;
    }

    .main-title {
        font-size: 16px !important;

        .sale-off {
            color: #ef1e1e;
        }
    }

    .pharse-1 {
        font-size: 10px !important;
    }

    .black-sale {
        padding-top: 0px !important;
        padding-bottom: 3rem !important;
    }

    .banner-4 {
        height: 100px !important;
    }

    .container-padding {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .content-2 {
        top: 7% !important;
        left: 5% !important;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .sub-title {
        display: block;
        font-size: 14px !important;
        font-weight: 300;
        font-style: italic;
        color: #253237;
        line-height: 1;
        margin-bottom: 0px !important;
    }

    .content-2 {
        top: 7% !important;
        left: 5% !important;
    }

    .main-title {
        font-size: 16px !important;

        .sale-off {
            color: #ef1e1e;
        }
    }

    .pharse-1 {
        font-size: 10px !important;
    }

    .black-sale {
        padding-top: 0px !important;
        padding-bottom: 15px !important;
    }

    .banner-4 {
        height: 100px !important;
    }
}





.new-arrival {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;

    .title-block {
        font-size: 24px;
        font-weight: 600;
        color: #253237;
        margin-bottom: 6px;
    }

    @media (max-width:480px) {
        .title-block {
            font-size: 1.8rem;
            font-weight: 600;
            color: #253237;
            margin-bottom: 6px;
        }

        .note {
            font-size: 12px;
        }
    }

    .note {
        font-size: 14px;
        display: block;
        position: relative;
        padding-bottom: 28px;
        font-weight: 400;
    }

    .line {
        width: 70px;
        border-bottom: 3px solid #ef1e1e;
        margin-bottom: 50px;
    }

    .card {
        overflow: hidden;

        .image-1 {
            display: block;
            transition: transform 2s;
        }

        .image-2 {
            position: absolute;
            display: none;
            transition: transform 2s;
            top: 0;
        }

        &:hover {
            border: 1px solid #ef1e1e;
        }

        &:hover .image-2 {
            display: block;

            cursor: pointer;
        }

        // .c-image-2{
        //     overflow: hidden;
        //     width: 300px;
        // }
        // .image-2 {
        //     &:hover {
        //         transform: scale(1.1);
        //     }
        // }

        .shop {
            color: #999;
            font-size: 12px;
            font-weight: 400;

        }

        .tittle-1 {
            font-size: 15px;
            font-weight: 700;
            color: #000;

            &:hover {
                color: #ef1e1e;
            }
        }

        .stars {
            color: #999;
            font-size: 14px;
            font-weight: 400;
        }

        .price {
            color: #999;
            font-size: 15px;
            font-weight: 400;
        }

        .slick-prev:before {
            font-family: slick;
            font-size: 34px;
            line-height: 1;
            opacity: .75;
            color: #fff;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }

    .badge {
        background-color: #ef1e1e;
        color: white;
        /* position: absolute; */
        top: 20px;
        left: 20px;
        z-index: 999;
    }

    .new-price {
        color: #ef1e1e;
    }
}

.collection {
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;

    .card {
        overflow: hidden;

        .banner-5 {
            transition: transform 2s;
        }

        .banner-6 {
            transition: transform 2s;
        }

        .sub-title {
            display: block;
            font-size: 18px;
            font-weight: 300;
            font-style: italic;
            color: #253237;
            line-height: 1;
        }

        .main-title {
            display: block;
            font-size: 26px;
            font-weight: 700;
            color: #253237;
            line-height: 1;
        }

        .content-4 {
            top: 30%;
            left: 5%;
        }

        &:hover .banner-5 {
            transform: scale(1.1);
        }

        &:hover .banner-6 {
            transform: scale(1.1);
        }
    }

    @media (max-width:480px) {
        .content-4 {
            top: 15% !important;
            left: 6% !important;
        }
    }
}


.deals {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;

    .title-block {
        font-size: 24px;
        font-weight: 600;
        color: #253237;
        margin-bottom: 6px;
    }

    .note {
        font-size: 14px;
        font-weight: 400;
        display: block;
        position: relative;
        padding-bottom: 28px;
        // margin-bottom: 30px;
    }

    .line {
        width: 70px;
        border-bottom: 3px solid #ef1e1e;
        margin-bottom: 50px;
    }

    .card {
        overflow: hidden;

        .hot-deal-image {
            width: 175px !important;
            overflow: hidden;
        }

        .image-3 {
            display: block;
            transition: transform 2s;
        }

        .image-4 {
            position: absolute;
            width: 180px;
            z-index: 999;
            top: 0;
            display: none;
            transition: transform 2s;
        }

        .card-title {
            font-size: 15px;
            margin-bottom: 3px;
            font-weight: 400;
            color: #999;
        }

        .card-link {
            font-size: 18px;
            font-weight: 700;
            color: #253237;
            display: block;
            line-height: 1.5;
            text-transform: capitalize;

            &:hover {
                color: #ef1e1e !important;
            }

        }

        @media (min-width:768px) and (max-width:1024px) {
            .card-link {
                font-size: 19px !important;
            }

            .clock {
                font-size: 10px;
            }

            .count-down-text {
                font-size: 14px;
            }

            .image-4 {
                width: 320px;
            }
        }

        .stars-2 {
            font-size: 14px;
            height: 18px;
            font-weight: 400;
            line-height: 18px;
            color: #d0d0d0 !important;
            margin-top: 10px;
        }

        .old-price {
            color: #d0d0d0 !important;
            font-size: 14px;
        }

        .new-price {
            color: #ef1e1e;
        }

        &:hover .image-4 {
            display: block;
        }

        .image-4 {
            &:hover {
                transform: scale(1.1);
            }
        }

        &:hover {
            border: 1px solid #ef1e1e;
        }

        li {
            display: inline-block;
            font-size: 10px;
            list-style-type: none;
            padding: 1em;
            text-transform: uppercase;
        }

        li span {
            display: block;
            font-size: 22px;
            font-weight: 700;
        }

        @media (min-width:481px) and (max-width:1024px) {
            li {
                display: inline-block;
                font-size: 7px;
                list-style-type: none;
                padding: 1em;
                text-transform: uppercase;
            }

            li span {
                display: block;
                font-size: 20px;
            }
        }

        .progress {
            height: 10px !important;
        }

        .available-stock {
            font-size: 14px;
        }

        .sold-stock {
            font-size: 14px;
        }
    }

    .badge {
        background-color: #ef1e1e;
        color: white;
        top: 20px;
        left: 20px;
        z-index: 999999 !important;
    }

    @media (max-width:768px) {
        .container-padding {
            padding-left: 1rem !important;
            padding-right: 1rem !important;
        }
    }

    .circle {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        // background-color: black;
        opacity: 0.5;
        border: 2px solid rgb(5, 5, 5);
        display: inline-block;
        text-align: center;
        position: fixed;
        bottom: 30px;
        transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
        // opacity: 0;
        visibility: hidden;
        right: 10px;
        z-index: 1000;
    }

    @media (max-width:576.5px) {
        .circle {
            display: none;
        }
    }

    #button.show {
        opacity: 1;
        visibility: visible;
    }

    .angle {
        opacity: 1 !important;
        content: "\f106";
        position: relative;
        top: 7px;
        font-size: 18px;
        color: #000 !important;
    }

    @media (max-width:480px) {
        .count-down-text {
            font-size: 6px !important;
        }

        .card li {
            font-size: 5px !important;
        }

        .card li span {
            font-size: 18px !important;
        }
    }

    #timer {
        font-size: 12px;
        font-weight: 700;
        color: black;
    }

    #timer div {
        display: inline-block;
        min-width: 80px;
    }

    #timer div span {
        color: rgb(153, 153, 153);
        display: block;
        font-size: 8px;
        font-weight: 400;
    }
}


.sponser {
    overflow: hidden;

    .spsnser-images {
        width: 250px;
        padding-left: 20px;
    }

    @media (max-width:768px) {
        .container-padding {
            padding-left: 1rem !important;
            padding-right: 1rem !important
        }
    }
}



.feature-post {
    font-family: 'Open Sans', sans-serif;

    .card {
        overflow: hidden;

        .fe-image-1 {
            display: block;
        }

        .fe-image-2 {
            position: absolute;
            top: 0%;
            left: -5px;
            display: none;
            height: 100px;
            width: 100px;
        }

        &:hover .fe-image-2 {
            display: block;
            padding: 1rem !important;
        }

        &:hover {
            border: 1px solid #ef1e1e;
        }
    }

    .shop-link {
        color: #999;
        font-size: 12px;
    }

    .product-item-link {
        display: block;
        font-size: 14px;
        font-weight: 700;
        color: #253237;

        &:hover {
            color: #ef1e1e;
        }
    }

    .stars-3 {
        font-size: 14px;
        height: 18px;
        line-height: 18px;
        color: #d0d0d0 !important;
        margin-top: 10px;
    }

    .price {
        font-size: 15px;
        font-weight: 400;
        color: #555555;
    }

    .title-block {
        font-size: 24px;
        font-weight: 600;
        color: #253237;
        margin-bottom: 6px;
    }

    .note {
        font-size: 14px;
        padding-bottom: 20px;
        // margin-bottom: 30px;
        font-weight: 400;
    }

    .line {
        width: 70px;
        border-bottom: 3px solid #ef1e1e;
        margin-bottom: 50px;
    }

    @media (max-width:768px) {
        .container-padding {
            padding-left: 1rem !important;
            padding-right: 1rem !important;
        }
    }

    @media (max-width:480px) {
        .title-block {
            font-size: 30px;
        }

        .note {
            font-size: 16px;
        }
    }
}

.blog {
    font-family: 'Open Sans', sans-serif;

    .title-block {
        font-size: 24px;
        font-weight: 600;
        color: #253237;
        margin-bottom: 6px;
    }

    .note {
        font-size: 14px;
        padding-bottom: 20px;
        // margin-bottom: 30px;
        font-weight: 400;
    }

    .line {
        width: 70px;
        border-bottom: 3px solid #ef1e1e;
        margin-bottom: 50px;
    }

    @media (max-width:768px) {
        .container-padding {
            padding-left: 1rem !important;
            padding-right: 1rem !important;
        }
    }

    .card {
        overflow: hidden;

        .image2 {
            overflow: hidden;
            // height: 300px;
        }

        .blog-image-1 {
            display: block;
            transition: transform 2s;
        }

        &:hover .blog-image-1 {
            transform: scale(1.1);
        }

        .badge {
            background-color: #ef1e1e !important;
            color: white;
            top: 20px;
            left: 10px;
            z-index: 999999 !important;
            font-size: 20px;
        }

        // .number{
        //     border-bottom: 1px solid white;
        // }
        .month {
            text-transform: uppercase !important;
            font-weight: 500 !important;
        }

        .post-item-link {
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 700;
            color: #253237;
            line-height: 1.333;
            text-decoration: none;

            &:hover {
                color: #ef1e1e;
            }
        }

        .blog-para {
            color: #555;
            font-size: 14px;
        }

        .more-icon {
            font-size: 14px;
            font-weight: 700;

            &::after {
                content: '\f144';
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                font-family: "Font Awesome 5 Free";
                font-weight: 700;
                // vertical-align: middle;
                margin-left: 8px;
                color: #ef1e1e;
                font-size: 15px;
            }
        }

        // &:hover .more-icon{
        //     padding-left: 5px;
        // }
    }

    @media (max-width:768px) {
        .note {
            font-size: 12px;
            text-align: center;
        }
    }

    @media (max-width:1024px) {
        .blog-end-padding {
            padding-right: 1rem !important;
            padding-left: 1rem !important;
        }
    }
}

@media (max-width:576px) {
    .custom-order {
        order: 1 !important;
    }

    .custom-order-2 {
        order: 3 !important;
    }
}

.footer {
    font-family: 'Open Sans', sans-serif;

    .footer-background-color {
        background-color: #F6F6F6;
    }

    .pharse-text {
        line-height: 22px;
        font-size: 14px;
    }

    .help {
        font-size: 16px;
        font-weight: 400;
        color: rgb(102, 102, 102);
    }

    .phone-icone {
        font-size: 24px;
        color: #ef1e1e;
    }

    .phone-number {
        font-size: 19px;
        font-weight: 700;
    }

    .icons {
        font-size: 24px;
       
        i{
            &:hover{
                bottom: 5px;
                cursor: pointer;
                position: relative;
                transition: 1s;
            }
        }
      
    }

    @media (max-width:1024px) {
        .icons {
            padding-left: 0rem !important;
        }

        .padding-left-custom {
            padding-left: 0rem !important;
        }
    }

    .footer-bg-2 {
        background-color: #EFEFEF;
    }

    .infoformation {
        font-size: 16px;
        font-weight: 600;
        color: #253237;
        text-transform: capitalize;
        border-bottom: 1px solid #e3e3e3;
        position: relative;

        &::after {
            content: "";
            width: 65px;
            height: 2px;
            background: #ef1e1e;
            left: 0;
            bottom: -1px;
            position: absolute;
        }
    }

    .list {
        list-style-type: none;
        font-size: 14px;
        color: rgb(102, 102, 102) !important;
        li{
            &:hover{
                transition: ease-in-out 1s;
                margin-left: 10px;
                color: #ef1e1e !important;
                cursor: pointer;
            }
        }
    }

    .sign-up {
        font-size: 14px;
    }

    @media (min-width:481px) and (max-width:768px) {
        .infoformation {
            font-size: 10px !important;
        }

        .list {
            font-size: 10px !important;
        }

        .sign-up {
            font-size: 12px !important;
        }

        .form-control {
            padding: 10px !important;
            border: 1px solid #ebebeb !important;

            &::placeholder {
                font-size: 14px !important;
                border-color: #e9e9e9 !important;
                font-weight: 600 !important;
            }
            &:focus{
                border: 1px solid #ebebeb !important;
            }
        }

        .input-group-text {
            padding: 10px !important;
            border-radius: 50px;
            background-color: #000;
            color: white;
            right: -2px;
            z-index: 1 !important;
        }
    }

    @media (min-width:768px) and (max-width:1024px) {
        .infoformation {
            font-size: 10px !important;
        }

        .list {
            font-size: 10px !important;
        }
    }

    @media (max-width:1024px) {
        .row-padding {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        .footer-logo {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        .pharse-text {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        .phone-icone {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        .phone-number {
            padding-left: 0px !important;
            padding-right: 0px !important;
            font-size: 10px;
        }

        .help {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

    }

    .form-control {
        border: 1px solid #ebebeb;

        &::placeholder {
            font-size: 18px;
            border-color: #e9e9e9 !important;
        }
    }

    .input-group-text {
        border-radius: 50px;
        background-color: #000;
        color: white;
        right: -2px;
        z-index: 999999 !important;
    }

    @media(min-width:1025px) and (max-width:1304px) {
        .infoformation {
            font-size: 13px !important;
        }

        // .list {
        //     padding-left: 1rem !important;
        // }

        .help {
            padding-left: 1rem !important;
        }

        .phone-number {
            padding-left: 1rem !important;
            font-size: 13px !important;
        }
    }

    @media (min-width:769px) and (max-width:1024px) {
        input {
            padding: 0.5rem !important;

            &::placeholder {
                font-size: 14px !important;
            }
        }

        .input-group-text {
            padding: 0.5rem !important;
        }
    }
}

#cover {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: white;
    z-index: 9999999;
    font-size: 65px;
    text-align: center;
    padding-top: 300px;
    color: #fff;
    font-family: tahoma;
}


.main-section {
    background-image: url('../images/bkg_breadcrumbs.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;

    .breadcrumbs {
        padding-top: 105px;
        padding-bottom: 105px;

        .pagecrumbs-title {
            text-align: center;
            font-size: 30px;
            font-weight: 600;
            color: #253237;
        }

        .home {
            font-size: 14px;
            color: rgb(85, 85, 85);
            font-weight: 400;

            &:hover {
                transition: 1s;
                color: #ef1e1e;
            }
        }

        .breadcrumb-item {
            font-size: 14px;
            font-weight: 600;
            color: #ef1e1e;

            &::before {
                float: left;
                padding-right: 1.5rem;
                color: #6c757d;
            }
        }
    }
}


.grid-list {
    margin-top: 90px;
    font-family: 'Open Sans', sans-serif;

    .box {
        width: 88%;
        height: 64px;
        background-color: #f6f6f6;
        border-radius: 10px;
    }

    @media (min-width:576px) and (max-width:1024px) {
        .buttons {
            padding-left: 5px !important;
        }
    }

    .btn-shop {
        background-color: rgb(239, 30, 30);
        border-radius: 50px;
        color: white;

    }

    .btn-dropdown {
        background-color: white;
        border-radius: 50px;
        border: 2px solid rgb(238, 238, 238);
        font-size: 14px;
        font-weight: 400;
    }

    .dropdown-item {
        &:hover {
            background-color: #0a58ca !important;
            color: white !important;
        }

        &:focus {
            background-color: #0a58ca !important;
            color: white !important;
        }
    }

    .buttons {
        .btn-list {
            color: #ef1e1e !important;
        }

        .btn-grid {
            &:hover {
                transition: 1s;
                color: #ef1e1e;
            }
        }
    }

    @media (max-width:576px) {
        .box {
            width: 100%;
            height: 145px;
        }

        .btn-dropdown {
            margin-bottom: 10px;
            font-size: 11px;
        }

        .btn-shop {
            margin-top: 10px;
        }

        .offcanvas-start {
            width: 250px;
        }

    }

    @media (min-width:576px) and (max-width:768px) {
        .btn-dropdown {
            padding-left: 2rem !important;
            padding-right: 2rem !important;
            font-size: 10px;
        }

        .dropdown-toggle {
            &::after {
                font-size: 12px;
                right: 15px;
            }
        }

        .box {
            width: 76%;
            height: 57px;
        }
    }

    @media (min-width:769px) and (max-width:1024px) {
        .box {
            width: 82%;
            height: 57px;
        }

        .btn-dropdown {
            padding-right: 2rem !important;
            padding-left: 2rem !important;
        }
    }

    @media (min-width:1025px) and (max-width:1187.5px) {
        .box {
            width: 81%;
            height: 57px;
        }
    }

    @media (min-width:1188px) and (max-width:1366.5px) {
        .box {
            width: 83%;
            height: 57px;
        }
    }

    @media (min-width:2200px) and (max-width:2790px) {
        .box {
            width: 91%;
        }
    }

    .card {
        position: relative;
        overflow: hidden;

        .c-chair1 {
            width: 100%;

            .chair1 {
                display: block;
                width: 843px;
            }
        }

        .c-chair2 {
            position: absolute;
            display: none;

            overflow: hidden;

            .box-2 {
                height: 50px;
                background-color: white;
                width: 60%;
                border-radius: 30px;
                position: absolute;
                bottom: 20px;
                left: 70px;
                z-index: 9;
                transition: transform 2s;

                .icons {
                    font-size: 21px;
                }

                .bag {
                    &:hover {
                        transition: 1s;
                        color: #ef1e1e;
                    }
                }


                .heart {
                    &:hover {
                        transition: 1s;
                        color: #ef1e1e;
                    }
                }

                .shuffle {
                    &:hover {
                        transition: 1s;
                        color: #ef1e1e;
                    }
                }


                .magni {
                    &:hover {
                        transition: 1s;
                        color: #ef1e1e;
                    }
                }
            }

            @media (max-width:576px) {
                .box-2 {
                    width: 85%;
                    left: 26px;
                }
            }



            @media (min-width:576px) and (max-width:768px) {
                .box-2 {
                    width: 85%;
                    left: 18px;
                }
            }

            @media (min-width:768px) and (max-width:1024px) {
                .box-2 {
                    width: 85%;
                    left: 18px;
                }
            }

            @media (min-width:1900px) and (max-width:2600px) {
                .box-2 {
                    bottom: 40px;
                    left: 130px;
                }
            }

            .chair2 {
                transition: transform 2s;
                width: 843px;
            }

        }

        &:hover {
            transition: 1s;
            border: 1px solid #ef1e1e;
            cursor: pointer;
        }

        &:hover .c-chair2 {
            display: block;
        }

        &:hover .box-2 {
            display: block;
        }

        .chair2:hover {
            transform: scale(1.1);
        }

        .content {
            .shop {
                font-size: 12px;
                color: #999 !important;
                display: block;
            }

            .product-item-link {
                text-decoration: none;
                font-weight: 700;
                color: #253237;
                font-size: 14px;
                line-height: 21px;

                &:hover {
                    transition: 1s;
                    color: #ef1e1e;
                }
            }

            .star {
                font-size: 14px;
                line-height: 18px;
                font-weight: 400;
                color: rgb(253, 216, 53);
            }

            .price {
                font-size: 15px;
                font-weight: 400;
            }
        }

        .new-price {
            color: #ef1e1e;
            font-weight: 600;
        }

        .bg-disscount {
            background-color: #ef1e1e;
            font-weight: 600;
            color: white;
        }

        .bg-badge {
            z-index: 1;
            background-color: #ef1e1e;
            top: 20px;
            left: 20px;
        }
    }

    @media (max-width:1024px) {
        .row-margin {
            margin-left: 0px !important;
            margin-right: 0px !important;
        }
    }

    .offcanvas-header {
        padding-left: 0px !important;
        margin-left: 20px;
        margin-right: 20px;
        border-bottom: 1px solid rgb(233, 233, 233);

        .btn-close {
            position: absolute;
            right: -47px;
            background-color: black !important;
            opacity: 1;
            top: 8px;
            background-image: none !important;
            font-family: "Font Awesome 5 Free";
            display: inline-block;
            font-weight: 900;
            font-size: 19px;

            &::after {
                position: absolute;
                top: 5px;
                right: 12px;
                content: "\f00d";
                color: white;
            }
        }

        .offcanvas-title {
            font-size: 18px;
            font-weight: 700;

        }
    }

    .accordion-item {
        border: transparent;

        .accordion-header {
            position: relative !important;

            .accordion-button {
                border-bottom: 1px solid rgb(233, 233, 233);
                border-radius: 0px;
                padding-left: 0px !important;
                font-size: 20px;
                font-weight: 600;

                &::after {
                    height: 1rem !important;
                    width: 1rem !important;
                    background-size: 1rem !important;
                }
            }

            &::after {
                content: "";
                width: 65px;
                height: 2px;
                background: #ef1e1e;
                left: 0px;
                // bottom: -1px;
                position: absolute;
            }


            .accordion-button:not(.collapsed) {
                color: #000;
                background-color: white;
            }
        }

        .form-check {
            font-size: 14px;
            font-weight: 400;

            &:hover {
                transition: 1s;
                color: #ef1e1e !important;
            }

            // .form-check-input {
            //     &:focus {
            //         background-color: #ef1e1e;
            //         border-color: #ef1e1e;
            //     }
            // }

            .form-check-input {
                border-color: rgb(196, 193, 193);

                &:checked {
                    background-color: #ef1e1e;
                    border-color: #ef1e1e;
                }
            }
        }

        .colors {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: blue;
        }

        .colors-1 {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: brown;
        }

        .colors-2 {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: green;
        }

        .colors-3 {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: rgb(239, 61, 255);
            ;
        }

        .colors-4 {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: rgb(255, 0, 0);
        }

        .colors-5 {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: rgb(255, 213, 0);
        }

        .btn {
            &:hover {
                transition: 1s;
                background-color: #ef1e1e;
                color: white;
            }
        }

        .btn-xs {
            border: 1px solid rgb(218, 218, 218);
        }
    }

    @media (min-width:576px) and (max-width:768px) {
        .dropdown-margin {
            margin-left: 0px !important;
        }
    }
}












.mission {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;

    .mission-content {
        margin-bottom: 50px;

        .mission-heading {
            font-size: 24px;
            font-weight: 500;
            line-height: 30px;
        }

        .mission-para {
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            color: #666;
        }
    }

    .vision-content {
        .vision-heading {
            font-size: 24px;
            font-weight: 500;
            line-height: 30px;
        }

        .vision-para {
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            color: #666;
        }
    }

    .about-image {
        width: 100% !important;
    }

    .custom-border {
        padding-bottom: 100px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ebebeb;
    }
}

@media (max-width:1024px) {
    .mission {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .mission-para {
        font-size: 14px !important;
        line-height: 20px !important;
    }

    .vision-para {
        font-size: 14px !important;
        line-height: 20px !important;
    }
}













.choose-us {
    font-family: 'Open Sans', sans-serif;

    .choose {
        font-size: 24px;
        font-weight: 600;
        color: #000;
    }

    .reason {
        font-size: 14px;
        color: #555;
    }

    .circle {
        height: 175px;
        width: 175px;
        background-color: #17b0c7;
        border-radius: 50%;
        font-size: 60px;
        color: white;
        text-align: center;
        img{
            filter: invert(100%);
        }
    }

    .content-circle {
        font-size: 14px;
        font-weight: 400;
        color: #333;
    }

    @media (min-width:576px) and (max-width:768px) {
        .custom-justify {
            justify-content: center !important;
        }

        .circle {
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    .custom-border {
        padding-bottom: 100px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ebebeb;
    }

    @media (min-width:768px) and (max-width:1024px) {
        .circle {
            height: 150px;
            width: 150px;
        }
    }
}

@media (max-width:1024px) {
    .choose-us {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

.map {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;

    .store {
        font-size: 24px;
        font-weight: 600;
        color: #000;
        margin-bottom: 10px;
    }

    .locator-para {
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
    }

    .btn-collector {
        border-color: #ef1e1e;
        background-color: #ef1e1e;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        border-radius: 30px;
    }

    .custom-border {
        padding-bottom: 100px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ebebeb;
    }
}

@media (max-width:1024px) {
    .map {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}





.team {
    font-family: 'Open Sans', sans-serif;

    .team-content {
        .team-title {
            font-size: 24px;
            font-weight: 600;
        }

        .team-para {
            font-size: 14px;
            font-weight: 400;
            color: rgb(85, 85, 85);
        }
    }

    .image-content {
        .name {
            font-size: 18px;
            font-weight: 700;
        }

        .position {
            font-size: 14px;
            font-weight: 400;
            color: rgb(136, 136, 136);
        }
    }
}

@media (max-width:1024px) {
    .team {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

.contact-map {
    font-family: 'Open Sans', sans-serif;
    margin-top: 100px;
    margin-bottom: 450px;
}

.card-top {
    top: 50%;
    position: absolute;
    width: 80%;

    .block-title {
        font-size: 18px;
        font-weight: 600;
        color: rgb(34, 34, 34);
    }

    .form-control {
        border: 1px solid rgb(233, 233, 233);
    }

    .bg-image {
        background-image: url('../images/bg-contact.jpg');
        // background-repeat: no-repeat;
    }

    .btn-send {
        background-color: #ef1e1e !important;
        color: white !important;
        border-radius: 30px !important;
        text-transform: uppercase !important;
        margin-bottom: 30px;
        margin-top: 30px;

        &:hover {
            transition: 1s;
            background-color: #555555 !important;
        }
    }

    .location {
        border: 2px solid white;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        font-size: 24px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon-text {
        font-size: 14px;
        font-weight: 400;
        color: white;
    }

    .icon-contact {
        a {
            color: #555555 !important;
            text-decoration: none;
            font-size: 14px;

            &:hover {
                transition: 1s;
                color: #ef1e1e !important;
            }
        }
    }

    .form-label {
        font-size: 14px;
        font-weight: 400;
        color: rgb(85, 85, 85);
    }

    @media (max-width:576px) {
        .form-control {
            width: 95% !important;
        }

        .bg-image {
            width: 95% !important;
        }
    }
}

@media (max-width:576px) {
    .card-top {
        width: 93% !important;
    }

    .padding-start {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .contact-map {
        margin-bottom: 1023px;
    }
}

@media (min-width:576.5px) and (max-width:768px) {
    .card-top {
        width: 91% !important;
    }

    .contact-map {
        margin-bottom: 900px;
    }
}

@media (min-width:768.5px) and (max-width:1440px) {
    .card-top {
        width: 87% !important;
    }

    .contact-map {
        margin-bottom: 400px;
    }

    .padding-start {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

@media (min-width:1760px) and (max-width:2560px) {
    .card-top {
        left: 8%;
    }
}


.blogs {
    font-family: 'Open Sans', sans-serif;

    .card {
        overflow: hidden;

        .blog-image {
            overflow: hidden;
            height: 250px;
        }

        .blog-imagw-1 {
            transition: transform 1s;
        }

        &:hover .blog-imagw-1 {
            transform: scale(1.1);
        }

        .blogimage-heading {
            margin-top: 30px;

            .heading-link {
                font-size: 20px;
                font-weight: 600;
                line-height: 30px;
                color: rgb(51, 51, 51) !important;
                text-decoration: none;
            }

        }

        .blog-para {
            color: #888;
            font-size: 14px;
            line-height: 25px;
        }

        .readmore {
            font-size: 16px;
            font-weight: 600;
            text-decoration: none;
            color: rgb(51, 51, 51) !important;

            &::after {
                content: "\f144";
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                font-family: "Font Awesome 5 Free";
                font-weight: 700;
                margin-left: 8px;
                color: #ef1e1e;
                font-size: 15px;
                margin-left: 20px;
            }
        }
    }

    .position-badge {
        left: 20px;
        top: 20px;
    }

    .bg-color {
        background-color: #ef1e1e;
        color: white;
    }

    .month-date {
        .date {
            font-size: 16px;
            font-weight: 600;
            border-bottom: 1px solid white;
            margin-bottom: 5px;
            padding-bottom: 5px;
        }

        .month {
            font-size: 16px;
            font-weight: 600;
        }
    }

    .form-control {
        border: 1px solid rgb(233, 233, 233);
        background-color: white;

        &::placeholder {
            font-size: 16px;
            font-weight: 600;
            color: rgb(214, 213, 213);
        }
    }

    .search-position {
        top: 16px;
        font-size: 18px;
        right: 37px;
    }

    .cateogry {
        border-bottom: 1PX solid rgb(235, 235, 235);
        position: relative;

        .cateogry-heading {
            font-size: 20px;
            font-weight: 600;
            line-height: 22px;
            color: rgb(37, 50, 55);
            padding-bottom: 30px;
        }

        &::after {
            content: "";
            width: 65px;
            height: 2px;
            background: #ef1e1e;
            left: 0;
            bottom: -1px;
            position: absolute;
        }
    }

    .cateogty-list {
        margin-top: 20px;

        ul {
            list-style: none;
            padding-left: 0px !important;
        }

        li {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        a {
            text-decoration: none;
            color: rgb(85, 85, 85);
            font-size: 14px;
            font-weight: 400;

            span {
                color: rgb(85, 85, 85);
                ;
            }

            &:hover {
                transition: 1s;
                color: #ef1e1e !important;
            }
        }
    }

    @media (max-width:1024px) {
        .blog-image {
            height: 180px !important;
        }

        .heading-link {
            font-size: 18px;
        }

        .month-date {
            padding: 5px !important;
        }
    }


    @media (min-width:1760px) and (max-width:2560px) {
        .blog-image {
            height: 450px !important;
        }
    }





    .post-list {
        .post-image-1 {
            width: 150px;
            display: block;
        }

        .post-image-content {
            h3 {
                font-size: 14px;
                font-weight: 400;
            }

            a {
                color: #333;
                text-decoration: none;

                &:hover {
                    transition: 1s;
                    color: #ef1e1e !important;
                }
            }
        }

        .publish-date {
            color: #aaa;
            font-size: 14px;
            font-weight: 400;
        }

        @media (min-width:576px) and (max-width:768.5px) {
            h3 {
                font-size: 8px !important;
            }

            .publish-date {

                font-size: 8px !important;

            }
        }
    }

    .tags-list {
        .btn-trending {
            color: #555555;
            border: 1px solid #ebebeb;
            border-radius: 30px;
            font-size: 14px;
            font-weight: 400;

            &:hover {
                transition: 1s;
                background-color: #ef1e1e;
                color: white;
            }
        }

        @media (min-width:576px) and (max-width:1024.5px) {
            .btn-trending {
                padding-left: 10px !important;
                padding-right: 10px !important;
                margin-bottom: 10px;
            }
        }
    }
}